@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1343px;
    height: 1220px;

    background: #FFFFFF;
}



#logo {
    position: absolute;
    width: 496px;
    height: 128px;
    left: 135px;
    top: 211px;

    font-family: "Sacramento", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 210px;

    color: #FFFFFF;
}

#cake {
    position: absolute;
    width: 292px;
    height: 37px;
    left: 359px;
    top: 238px;

    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;

    color: #FFFFFF;
}

#confeitaria {
    position: absolute;
    width: 292px;
    height: 37px;
    left: 300px;
    top: 360px;

    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 40px;


    color: #FFFFFF;
}

.in1 {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1100px;
    top: 550px; 
    

}

.in2 {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1000px;
    top: 550px;

    
}

.p1 {
    position: absolute;
    width: 300px;
    height: 52px;
    left: 946px;
    top: 61px;

    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;


    color: #000000;
}

.p2 {
    position: absolute;
    width: 452px;
    height: 405px;
    left: 887px;
    top: 115px;

    font-family:" Comfortaa", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    
    color: #000000;
}
.back {
    position: absolute;
    display: flex;
    width: 785px;
    height: 694px;
    left: 0;
    top: 0;

    
    background: #dd6e84;
}
